
<div class="container">
  <div class="row">
    <p id="result"><%= @result %></p>
  </div>
  <div class="row">
    <p id="time"><%= @final_time %></p>
  </div>
  <div class="row">
    <p id="score"><%= @final_score %></p>
  </div>
  <div class="row">
    <p id="message"><%= @message %></p>
  </div>
</div>


